footer {
	width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background: #aaa;

	@media #{$tbsp}{
		width: 100vw;
	}

	ul {
		@include flexbox( $justify-content:around );
		list-style: none;
		padding: 2rem 0;
		line-height: 1.5rem;

		li {
			text-align: center;
		}
	}

	.copyright {
		border-top: 1px solid #666;
		padding: 2rem 0;
		text-align: center;
	}
}