#privacy {
	section {
		padding-bottom: 10rem;

		h1 {
			padding: 1rem 1.25rem;
			font-size: 1.5rem;
			font-weight: 700;
			background: $colorBlue;
			color: #fff;
			margin-bottom: .5rem;
		}

		h2 {
			padding: 1rem 1.25rem;
			font-size: 1.2rem;
			font-weight: 700;
		}

		p {
			padding: 0 1.25rem;
			line-height: 1.7rem;

			&+h2 {
				margin-top: 2rem;
			}
		}
	}
}